@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
}

@layer base {
  :root {
    color-scheme: light;
  }
  .dark {
    color-scheme: dark;
  }
}

@layer utilities {
  .bg-grid {
    background-image: radial-gradient(circle at 1px 1px, rgba(120, 113, 108, 0.25) 1px, transparent 0);
    background-size: 24px 24px;
  }
}
